<%= form_with(model: afterhourmod, local: true) do |form| %>
  <% if afterhourmod.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(afterhourmod.errors.count, "error") %> prohibited this afterhourmod from being saved:</h2>

      <ul>
      <% afterhourmod.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
